{{> header}}
       <form action="/users" method="POST">
           <input name="nom" placeholder="nom">
            <input name="prenom" placeholder="prenom">
            <input name="email" placeholder="email">

        <button type="submit">envoyer</button>
       </form>
{{> footer}}