{{> header }}
    
        
        {{#each arr}}
        <p>______________</p>
        <li>{{id}}</li>
        <li>{{nom}}</li>
        <li>{{prenom}}</li>
        <li>{{email}}</li>
        {{/each}}
{{> footer}}