<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8" />
     <title>App</title>
    </head>
    <body>
        {{#each arr}}
        <p>______________</p>
        <li>{{_id}}</li>
        <li>{{_nom}}</li>
        <li>{{_prenom}}</li>
        <li>{{_email}}</li>
        {{/each}}
    </body>
</html>